{% extends 'PointWebAppBundle::base.html.twig' %}
{% block content %}
    <section class="container">
        Just a demo site to play with headers which might look a bit like dribble, then I got distracted and started going my own way- this template is not currently built for responsive design.
    </section>
    <section class="container">
        Just a demo site to play with headers which might look a bit like dribble, then I got distracted and started going my own way- this template is not currently built for responsive design.
    </section>
    <section class="container">
        Just a demo site to play with headers which might look a bit like dribble, then I got distracted and started going my own way- this template is not currently built for responsive design.
    </section>
{% endblock %}