<div class="arrow animated bounce"></div>
</div>
<div class="footer">
<address id="coordonnees">
   <strong>Portfolio Marquand Thibault</strong><br />
   80 quai Joseph Gillet Lyon 69004<br />
   06 74 32 85 57<br />
   <a href="#" onclick="location.href=dolink(this.title); return false;" title="contact..åt..nomdedomaine.com">Email</a> - <a href="#" title="">Plan d'accès</a>
</address>
&copy; {{ date|date('Y') }} Mediashare.fr | <a href="{{ path('point_web_app_legal') }}" title="Mentions légales">Mentions légales</a> | <a href="{{ path('point_web_app_sitemap') }}" title="Plan du site">Plan du site </a>


</div>

