{# menus|displayMenu()|raw #}


{#<nav id="menu">#}
    {#<ul>#}
        {#<li><a href="{{ path('point_web_app_homepage') }}" title=""><i class="fa fa-home"></i> Accueil</a></li>#}
        {#<li><a href="" title=""></a></li>#}
        {#<li><a href="" title=""></a></li>#}
        {#<li><a href="" title=""></a></li>#}
        {#<li><a href="{{ path('point_web_app_contact') }}" title=""><i class="fa fa-envelope"></i> Contact</a></li>#}
    {#</ul>#}
{#</nav>#}



